.section {
  position: relative;
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.section_content {
  padding: 024px;
  margin: 0 auto;
  color: white;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 1;
}

.section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at center,
    transparent 30%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none; /* чтобы оверлей не мешал кликам по поиску */
  z-index: 0;
}
