.section_movies {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* margin: 0 0 100px; */
}

.section_movies_top {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: grid;
  grid-template-columns: repeat(var(--columns, 6), minmax(0, 1fr));
  justify-content: space-around;
  gap: 1rem;
}